@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&family=Raleway:ital,wght@0,300;0,500;0,700;1,300;1,600&display=swap');

:root {
    --amarillo: rgba(209, 143, 9, 0.9);
    --verde: rgba(100, 140, 58, 1);
    --azul: rgba(55, 102, 173, 1);
    --morado: rgba(158, 55, 173, 1);
    --blue : rgba(57, 144, 231, 1);
    --hoverBlue : rgba(51, 127, 203);
}

/* CONFIGURACIONES GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.app_screen{
    height: 100vh;
    width: 70vw;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
}

/* NAVBAR */

.app_navBar {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: space-between;
    background-color: rgba(240,240,240,.5);
    box-shadow: 0 4px 6px rgba(0,0,0,.5);
}

.app_navBar_logo {
    width: 25%;
    height: 100%;
}

.app_navBar_logo img{ 
    width : 100%;
    height: 100%;
}

.app_navBar_carrusel {
    width: 85%;
    height: 100%;
    /*propiedad que le da una animación a algo en específico del doc html -- banner es el alias*/
    /* 1.alias // 2.tiempo de cambio de imagen //3. que la animacion sea inficnita //  4. transcion en linea  //5. alterne las imagenes*/
    /*             1     2      3       4       5*/
    animation: banner 10s infinite linear alternate; 
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {
    0%, 30% {
        background-image: url("./../img/banner2.png")
    }

    35%, 65% {
        background-image: url("./../img/banner1.png")
    }

    70%, 95% {
        background-image: url("./../img/banner3.png")
    }

}

/* NAVBAR LATERAL */

.app_main{
    display: flex;
    justify-content: space-between ;
    width: 100%;
    height: 70%;
}

    /* lateral: MENU  */

.app_lateral_menu_container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,.5);
}

.app_lateral_menu_container span{
    color: var(--blue);
}

.app_lateral_menu_container ul{
    margin-right: 20px;
}

.app_lateral_menu_container li:hover{
    color: var(--hoverBlue);
    cursor: pointer;
    font-weight: 700;
}

.app_lateral_menu{
    height: 70%;
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
    /* FOOTER */

.app_lateral_footer {
    font-size: 30px;   
    align-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
}

.app_lateral_footer i:hover{
    color:  var(--hoverBlue);
    font-size: 32px;   
}

/* SCREEN */

.app_main_screen{
    width: 70%;
    height: 100%;
    /* overflow-y: scroll; */
}

.app_main_screen section {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.app_main_screen section h2, .app_main_screen section input {
    color: var(--blue)
}

.app_mainsection_buttons{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}

.app_mainsection_buttons button{
    text-decoration: none;
    border: none;
    width: 40%;
    height: 30%;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    border-radius: 10px;
    color: white;
    background-color: var(--blue);
    font-size: 18px;
}

.app_mainsection_buttons button:hover{
    background-color: var(--hoverBlue);
    font-weight: 600;
    width: 41%;
    height: 31%;
}

    /* PROFILE */
.app_mainsection_profile {
    display: flex;
    flex-direction: column;
}

.app_mainsection_profile form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.app_mainsection_profile form div{
    padding: 5px;
}

.app_profile_saveButton {
    font-size: 30px;
    cursor: pointer;
}

.app_profile_saveButton i:hover {
    font-size: 32px;
    color:  var(--hoverBlue);
}

    /* PRODUCTOS */

.app_mainsection_products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.app_mainsection_products_list{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    gap: 30px;
    background-color: none;
}

.app_mainsection_products_list > div{
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    padding: 10px;
}

.app_mainsection_products_list > div a{
    margin-bottom: 15px;
}

.app_mainsection_products_list > div:hover{
    height: 120%;
}

.app_mainsection_products_list > div > div{
    box-sizing: border-box;
    width: 95%;
    height: 150%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 15px;
    overflow-x: scroll;
}


.app_mainsection_products_list i{
    font-size: 20px;
    cursor: pointer;
}

.app_mainsection_products_account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(200,200,200,.5);
    min-width: 30%;
    height: 95% ;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    cursor: pointer;
    
}

.app_mainsection_products_account:hover {
    background-color: var(--hoverBlue);
    color: whitesmoke;
    height: 90%;
    align-self: center;
    /* position:fixed */
}


.app_mainsection_products_list > div > div::-webkit-scrollbar {
    width:12px;
    height: 12px;
}

.app_mainsection_products_list > div > div::-webkit-scrollbar-track {
    background-color: rgba(255, 255 255, 1);
    width:12px;
    height: 12px;
    border-radius: 20px;

    
}

.app_mainsection_products_list > div > div::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    width:12px;
    height: 12px;

    border-radius: 20px;
}

.app_form_account_info div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 15px;
}

.app_form_account_info div span{
    width: 50%;
}

.app_form_account_info div label{
    color: var(--hoverBlue);
}
    /* FORMULARIO SOLICITUD CUENTAS */
.app_form_accountRequest {
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    color: var(--blue);
}

.app_form_accountRequest input, .app_form_accountRequest select{
    width: 150px;
    text-align: center;
}
    
.app_form_accountRequest_userInfo{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap:  10px;
}


    /* TRANSACCIONES    */

.app_mainsection_bar {
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px
}

.app_mainsection_bar select{
    text-align: center;
}

.app_mainsection_transactions_screen{
    width: 90%;
    height: 60%;
    overflow: scroll;
}

.app_mainsection_transactions_screen::-webkit-scrollbar,
.app_mainsection_documents_screen::-webkit-scrollbar {
    width:12px;
    height: 12px;
}

.app_mainsection_transactions_screen::-webkit-scrollbar-track,
.app_mainsection_documents_screen::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 1);
    width:12px;
    height: 12px;
    border-radius: 20px;

    
}

.app_mainsection_transactions_screen::-webkit-scrollbar-thumb,
.app_mainsection_documents_screen::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    width:12px;
    height: 12px;

    border-radius: 20px;
}


    /* DOCUMENTOS    */

.app_mainsection_documents_bar {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px
}
